.desk {
	min-width: 75px;
	height: 30px;
	background-color: #8e8e8e;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.desk_circle {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.free {
	background-color: var(--color-success);
}

.dueled {
	background-color: #ffd700;
}

.occupied {
	background-color: var(--color-error);
}


/* iPhone 5/SE */
@media only screen and (min-width: 320px) and (max-width: 568px) {
    .desk {
        min-width: 60px;
        height: 25px;
    }
    .desk_circle {
        width: 20px;
        height: 20px;
    }
}

/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .desk {
        min-width: 65px;
        height: 28px;
    }
    .desk_circle {
        width: 22px;
        height: 22px;
    }
}

/* iPhone 6/7/8 Plus */
@media only screen and (min-width: 414px) and (max-width: 736px) {
    .desk {
        min-width: 70px;
        height: 30px;
    }
    .desk_circle {
        width: 23px;
        height: 23px;
    }
}

/* iPhone X/XS/XR */
@media only screen and (min-width: 375px) and (max-width: 812px) {
    .desk {
        min-width: 72px;
        height: 32px;
    }
    .desk_circle {
        width: 23px;
        height: 23px;
    }
}

/* Samsung Galaxy S8/S9/S10 */
@media only screen and (min-width: 360px) and (max-width: 740px) {
    .desk {
        min-width: 68px;
        height: 29px;
    }
    .desk_circle {
        width: 23px;
        height: 23px;
    }
}

/* Google Pixel 2/3/4 */
@media only screen and (min-width: 411px) and (max-width: 731px) {
    .desk {
        min-width: 70px;
        height: 30px;
    }
    .desk_circle {
        width: 23px;
        height: 23px;
    }
}